.code{
    display:inline-block;
    margin-left:30px;
    position:relative;
    padding-top:30px;
    max-width:100%;
    overflow:hidden;
    height:0px;
    -webkit-transition: height 0.2s ease-out;
}

.code:focus{
    overflow:scroll;
    height:300px;
    padding-top:5px;
}

.code:before{
    content: "Code";
    position:absolute;
    top:5px;
    padding: 2px 10px;
    border: 1px solid #666;
    left:10px;
    border-radius:2px;
    background:white;
    color: #888;
}


.code:focus:before{
    content: none;    
}