!!! 5
html(lang="en")
	head
		title gaffa
		meta(name="description", content="gaffa node example")
		link(rel="stylesheet", href="/css/site.css")
		script(src="/scripts/jquery-1.7.1.min.js", type="text/javascript")
		script(src="/scripts/gaffa.js", type="text/javascript")
		script(src="/scripts/actions.js", type="text/javascript")
		script(src="/scripts/views.js", type="text/javascript")
		script(src="/scripts/actions/list.js", type="text/javascript")
		script(src="/scripts/actions/show.js", type="text/javascript")
		script(src="/scripts/actions/create.js", type="text/javascript")
		script(src="/scripts/actions/update.js", type="text/javascript")
		script(src="/scripts/actions/delete.js", type="text/javascript")
		script(type="text/javascript")
			gaffa.behaviours.add([
				{
					binding: "main",
					type: "pageLoad",
					actions: [
						{
							type: "fetch",
							location: "server",
							path: "/index",
							bindings: {
								setTo: { binding: "main" }
							}
						}
					]
				},
				{
					binding: "main/products",
					type: "modelFetch",   /// How to bind to a List / Create / Update / Delete - more granular than just 'change'
					actions: [
						{
							type: "rest",
							location: "server",
							path: "/products",
							bindings: {
								resource: { binding: "main/products" }
							}
						}
					]
				},
				{
					binding: "main/products/~",
					type: "modelFetch",   /// How to bind to a List / Create / Update / Delete - more granular than just 'change'
					actions: [
						{
							type: "rest",
							location: "server",
							path: "/products/:id",
							bindings: {
								resource: { binding: "main/products/~" }
							}
						}
					]
				}
			]);
	body